<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/navbar.ejs") %>


    <h1 class="market-prod">Products</h1>
  <div class="blogs contented">
    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>
        <div class="m1-2 mb-1 img-para" >
          <img src="<%= product.imageUrl %>" alt="shoe/wears/accessories" class="photos">
          <p>Name: <%= product.name %></p>
          <p>Quantity: <%= product.Quantity %> in stock</p>
          <p>Price: <%= product.price %></p>
          <p>size: <%= product.size %></p>
       
          <div class="ebtn">
              <h5 class="imp-header"><a href="/api/product/buy/<%= product._id %>">Buy</a></h5>
              
              
              <% if (Type==='Admin' ) { %>
                <h5 class="imp-header"><a href="/api/products/edit/<%= product._id %>">Edit</a></h5>
                <% } %>
          </div>

        </div>

      <% }) %>
    <% } else { %>
      <p>There are no products to display...</p>
    <% } %>
  </div>
    <br />
    <% if (Type==='Admin' ) { %>
      <a href="/newproduct" class="btn btn-warning addpb">Add new Product(s)</a>
    <% } %>

  <%- include("./partial/footer.ejs") %>
</body>
</html>