<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/navbar.ejs") %>

  <div class="blogs content">
    <h1>Products</h1>

    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>

            
        <div class="m1-2 mb-1">
          <img src="<%= product.imageUrl %>" alt="shoe/wears/accessories" class="photos">
          <p>Name: <%= product.name %></p>
          <p>Quantity: <%= product.Quantity %> in stock</p>
          <p>Price: <%= product.price %></p>
          <p>size: <%= product.size %></p>
          <p>Type: <%= product.type %></p>
        </div>

            <% if (Type === 'Admin') { %>
              <form action="/api/products/update/<%= product._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <label for="name" class="form-label">Name:</label>
                  <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                  <label class="form-label">Quantity:</label>
                  <input type="text" class="form-control" name="Quantity">
                </div>
                <div class="form-group">
                  <label class="form-label">Product Description:</label>
                  <textarea class="form-control" name="Description"></textarea>
                </div>
                <div class="form-group">
                  <label class="form-label">Price:</label>
                  <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                  <label class="form-label">Size:</label>
                  <input type="text" class="form-control" name="size">
                </div>
                <div class="form-group">
                  <label for="name" class="form-label">Image Url:</label>
                  <input type="text" name="imageUrl" class="form-control">
                </div>
                <div class="form-group">
                  <label for="type">Choose a type:</label>
                 <select name="type" class="form-select form-select-lg mb-3">
                      <option selected value="shoe">Shoe</option>
                      <option value="wears">Wears</option>
                      <option value="accessories">Accessories</option>
                  </select>
              </div>
                  <button type="submit" class="btn btn-success">Edit product</button>
              </form>

              <form action="/api/products/<%= product._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Delete Product</button>
              </form>
              
              <br/>
              <a href="/api/products" class="btn btn-secondary">Go to Home</a>
              <a href="/newproduct" class="btn btn-warning">Add new product</a>
            <% } %>


      <% }) %>
    <% } else { %>
      <p>There are no products to display...</p>
    <% } %>
  </div>

  <%- include("./partial/footer.ejs") %>
</body>
</html>