<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/navbar.ejs") %>

  <div class="blogs content">
    <h1 class="yuse">Users</h1>

    <% if (users.length > 0) { %>
      <% users.forEach(usr => { %>
        <div class="m1-2 mb-1 usethem">
          <h5 class="trans"><b>User Info</b></h5>
          <p><b>Balance:</b> $<%= usr.balance %></p>
          <p><strong>Username:</strong> <%= usr.username %></p>
          <p><strong>Email:</strong> <%= usr.email %></p>
          <p><strong>Phone:</strong> <%= usr.phone %></p>

           <div><h5 class="trans"><b>Previous Transaction</b></h5>
            <% if (usr.prevTransactions.length > 0) { %>
                <% usr.prevTransactions.forEach(trans => { %>
                    <p>Order: <%= trans.prdName %></p>
                    <p>Quantity: <%= trans.quantity %></p>
                    <p>Price: <%= trans.price %></p>
                    <p>Time: <%= trans.timeOfTrans %></p>
                <% }) %>
            <% } else { %>
                <p>No previous transaction</p>
            <% } %>
           </div>
        </div>

      <% }) %>
    <% } else { %>
      <p>There is no user to display...</p>
    <% } %>
  </div>

  <%- include("./partial/footer.ejs") %>
</body>
</html>